.ember-scroll-up-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  // background-attachment: scroll;

  // &--show {
  //   position: fixed;
  // }
}

// .animated {
//   animation-duration: 0.5s;
//   animation-fill-mode: both;
// }

// .animated-fast {
//   animation-duration: 0.2s;
//   @extend .animated;
// }

// @keyframes slideInDown {
//   from {
//     transform: translate3d(0, -100%, 0);
//     visibility: visible;
//   }
//   to {
//     transform: translate3d(0, 0, 0);
//   }
// }
// .slideInDown {
//   animation-name: slideInDown;
// }

// @keyframes slideOutUp {
//   from {
//     transform: translate3d(0, 0, 0);
//   }
//   to {
//     visibility: hidden;
//     transform: translate3d(0, -100%, 0);
//   }
// }

// .slideOutUp {
//   animation-name: slideOutUp;
// }