{{#ember-scroll-up-bar componentHeight=65}}
  {{site-header}}
{{/ember-scroll-up-bar}}

{{site-header}}

<div class="container">

  <div class="first-section">
    <h3>
      Now scroll down!
    </h3>
  </div>

  <div class="another-section">
    <h3> Now go back up! </h3>
  </div>

</div>